# ignore log files directory
application/logs/

# ignore mpdf library temporary directories
application/libraries/mpdf/tmp/*
application/libraries/mpdf/ttfontdata/*
!application/libraries/mpdf/tmp/dummy.txt
!application/libraries/mpdf/ttfontdata/dummy.txt

# ignore the deploy script
deploy.sh