.wrapper {
  padding: 50px 0;
}

aside {
  float: left;
  width: 250px;
  padding: 15px;
  margin-top: 43px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

aside ul {
  list-style: none;
}

aside li a {
  display: block;
  font: normal 1.5rem "Open Sans Light", "OpenSansLight";
  color: #333333;
  text-decoration: none;
  padding: 10px 0 10px 25px;
  position: relative;
}

aside li a:hover,
aside li a:focus,
aside li a.current {
  color: #399B28;
}

aside li a.current:before {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #399B28;
}

.content {
  float: right;
  width: 700px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.content h1 {
  font: normal 2.4rem "Open Sans Light", "OpenSansLight";
  color: #8B242A;
  margin-bottom: 5px;
}

.content p {
  font: italic normal 1.5rem/1 "Open Sans Light", "OpenSansLight";
  color: #777777;
  margin-bottom: 40px;
}

.content section {
  margin-bottom: 40px;
}

.content section h1 {
  font-size: 2rem;
}

.content section h3, 
.content section label {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  font: normal 1.4rem "Open Sans Light", "OpenSansLight";
  color: #333333;
  margin-right: 5%;
}

.content section h3 {
  width: 44%;
}

.content section h3 span {
  margin-right: 10px;
}

.content section h3 p {
  font: normal 1.4rem "Open Sans Light", "OpenSansLight";
  color: #333333;
  margin: 0;
}

.content section h3 i {
  font: italic normal 1.4rem/1 "Open Sans Light", "OpenSansLight";
  color: #777777;
  margin-top: 5px;
}

.content section h3 form {
  display: inline-block;
  margin-bottom: 3px;
}

.content section h3 a {
  font: normal 1rem "Open Sans Light", "OpenSansLight";
  color: #005BC2;
  text-transform: uppercase;
  margin-right: 5px;
}

.content section .padded {
  padding: 15px 0 0 25px;
}

.content section form h4 {
  font: normal 1.5rem "Open Sans Light", "OpenSansLight";
  color: #8B242A;
  margin-bottom: 3px;
}

.content section form label.inline {
  width: auto;
  margin: 6px 15px 0 0;
}

.content section form input[type="text"] {
  width: 160px;
  font: normal 1.4rem "Open Sans Light", "OpenSansLight";
  color: #333333;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #aaaaaa;
  outline: none;
  margin: 0;
  -webkit-transition: box-shadow 250ms ease;
  -moz-transition: box-shadow 250ms ease;
  -o-transition: box-shadow 250ms ease;
  -ms-transition: box-shadow 250ms ease;
  transition: box-shadow 250ms ease;
}

.content section form input[type="text"]:focus {
  box-shadow: 0 0 3px #30FC0D;
}

.content section form .button {
  font: normal 1.5rem "Open Sans Light", "OpenSansLight";
  color: #ffffff;
  background-color: #308422;
  margin: 0;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 2px;
  outline: none;
  -webkit-transition: background-color 300ms ease;
  -moz-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
  -ms-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}

.content section form .button:hover, 
.content section form .button:focus {
  background-color: #399B28;
}

.content #ge-courses h3 form input[type="text"] {
  display: block;
  width: 250px;
  margin-bottom: 3px;
}

.content #ge-courses .field {
  margin-bottom: 3px;
}

.content #ge-courses label.inline {
  width: 150px;
}

.content #ge-courses h3 form div {
  display: inline-block;
  margin-left: 5px;
}

.content #ge-courses h3 form .button {
  margin-left: 0;
}

.content #ge-courses > form input[type="text"] {
  width: 250px;
}

.content #ge-courses > form .button {
  margin-left: 168px;
}

.content #social-networks h3 form input[type="text"] {
  width: 120px;
}