.wrapper {
  padding: 50px 0;
}

.button {
  font: normal 1.5rem "Open Sans Light", "OpenSansLight";
  color: #ffffff;
  background-color: #308422;
  margin: 0;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 2px;
  outline: none;
  -webkit-transition: background-color 300ms ease;
  -moz-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
  -ms-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}

.button:hover, 
.button:focus {
  background-color: #399B28;
}

aside {
  float: left;
  width: 250px;
  padding: 15px;
  margin-top: 43px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

aside ul {
  list-style: none;
}

aside li a {
  display: block;
  font: normal 1.5rem "Open Sans Light", "OpenSansLight";
  color: #333333;
  text-decoration: none;
  padding: 10px 0 10px 25px;
  position: relative;
}

aside li a:hover,
aside li a:focus,
aside li a.current {
  color: #399B28;
}

aside li a.current:before {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #399B28;
}

.content {
  float: right;
  width: 700px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.content h1 {
  font: normal 2.4rem "Open Sans Light", "OpenSansLight";
  color: #8B242A;
  margin-bottom: 5px;
}

.content p {
  font: italic normal 1.5rem/1 "Open Sans Light", "OpenSansLight";
  color: #777777;
  margin-bottom: 40px;
}

.content section {
  margin-bottom: 40px;
}

.content section h1 {
  font-size: 2rem;
}

.content section h3, 
.content section label {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  font: normal 1.4rem "Open Sans Light", "OpenSansLight";
  color: #333333;
  margin-right: 5%;
}

.content section h3 {
  width: 44%;
}

.content section h3 span {
  margin-right: 10px;
}

.content section h3 p {
  font: normal 1.4rem "Open Sans Light", "OpenSansLight";
  color: #333333;
  margin: 0;
}

.content section h3 i {
  font: italic normal 1.4rem/1 "Open Sans Light", "OpenSansLight";
  color: #777777;
  margin-top: 5px;
}

.content section h3 form {
  display: inline-block;
  margin-bottom: 3px;
}

.content section h3 a {
  font: normal 1rem "Open Sans Light", "OpenSansLight";
  color: #005BC2;
  text-transform: uppercase;
  margin-right: 5px;
}

.content section .padded {
  padding: 15px 0 0 25px;
}

.content section form h4 {
  font: normal 1.5rem "Open Sans Light", "OpenSansLight";
  color: #8B242A;
  margin-bottom: 3px;
}

.content section form label.inline {
  width: auto;
  margin: 6px 15px 0 0;
}

.content section form input[type="text"] {
  width: 160px;
  font: normal 1.4rem "Open Sans Light", "OpenSansLight";
  color: #333333;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #aaaaaa;
  outline: none;
  margin: 0;
  -webkit-transition: box-shadow 250ms ease;
  -moz-transition: box-shadow 250ms ease;
  -o-transition: box-shadow 250ms ease;
  -ms-transition: box-shadow 250ms ease;
  transition: box-shadow 250ms ease;
}

.content section form input[type="text"]:focus {
  box-shadow: 0 0 3px #30FC0D;
}

.content #ge-courses h3 form input[type="text"] {
  display: block;
  width: 250px;
  margin-bottom: 3px;
}

.content #ge-courses .field {
  margin-bottom: 3px;
}

.content #ge-courses label.inline {
  width: 150px;
}

.content #ge-courses h3 form div {
  display: inline-block;
  margin-left: 5px;
}

.content #ge-courses h3 form .button {
  margin-left: 0;
}

.content #ge-courses > form input[type="text"] {
  width: 250px;
}

.content #ge-courses > form .button {
  margin-left: 168px;
}

.content #social-networks h3 form input[type="text"] {
  width: 120px;
}

.admin.alumni .content p {
  margin-bottom: 20px;
}

.filter {
  text-align: right;
  margin-bottom: 20px;
}

.filter select {
  font: normal 1.4rem "Open Sans Light", "OpenSansLight";
  color: #333333;
  border-radius: 3px;
  border: 1px solid #aaaaaa;
  outline: none;
  padding: 3px;
  margin: 0;
  -webkit-transition: box-shadow 250ms ease;
  -moz-transition: box-shadow 250ms ease;
  -o-transition: box-shadow 250ms ease;
  -ms-transition: box-shadow 250ms ease;
  transition: box-shadow 250ms ease;
}

.filter select:focus {
  box-shadow: 0 0 3px #30FC0D;
}

.filter input[type="submit"] {
  display: inline-block;
  vertical-align: top;
  font: normal 1.2rem/2.6rem "Open Sans Light", "OpenSansLight";
  color: #ffffff;
  text-transform: uppercase;
  background-color: #469431;
  border: 1px solid #32881A;
  border-radius: 3px;
  padding: 0 8px;
  margin: 0;
  cursor: pointer;
}

.filter input[type="submit"]:hover,
.filter input[type="submit"]:focus {
  background-color: #32881A;
}

.list li {
  position: relative;
}

.list li:nth-of-type(even) {
  background-color: #f5f5f5;
}

.list li > a {
  display: block;
  font: normal 1.6rem/3.2rem "Open Sans Light", "OpenSansLight";
  color: #333333;
  text-decoration: none;
  padding: 0 10px;
}

.list li:hover > a,
.list li > a:hover,
.list li > a:focus {
  color: #ffffff;
  background-color: #399B28;
}

.list li:hover .actions {
  background-color: #A2C99C;
}

.list li > a.cleaned:after {
  content: "[cleaned]";
  font: normal 1.2rem "Open Sans Light", "OpenSansLight";
  color: #399B28;
  text-transform: uppercase;
  margin-left: 10px;
}

.list li:hover > a.cleaned:after,
.list li > a.cleaned:focus:after {
  color: #ffffff;
}

.list li .actions {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
}

.list li .actions a {
  display: inline-block;
  font: normal 1rem/2rem "Open Sans Light", "OpenSansLight";
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #DB485C;
  border: 1px solid #D22940;
  border-radius: 3px;
  padding: 0 5px;
}

.list li .actions a:hover,
.list li .actions a:focus {
  background-color: #D22940;
}

.admin.clean h1 {
  display: inline-block;
  margin-bottom: 40px;
}

.admin.clean .clean-actions {
  display: inline-block;
  position: relative;
  top: -3px;
  left: 25px;
}

.admin.clean .clean-actions a {
  display: inline-block;
  font: normal 1.3rem/2.4rem "Open Sans Light", "OpenSansLight";
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 7px;
  border: 1px solid;
  border-radius: 3px;
}

.admin.clean .clean-actions a.green {
  background-color: #469431;
  border-color: #32881A;
}

.admin.clean .clean-actions a.green:hover,
.admin.clean .clean-actions a.green:focus {
  background-color: #32881A;
}

.admin.clean .clean-actions a.red {
  background-color: #DB485C;
  border-color: #D22940;
}

.admin.clean .clean-actions a.red:hover,
.admin.clean .clean-actions a.red:focus {
  background-color: #D22940;
}

.admin.clean section {
  padding-left: 25px;
  margin-bottom: 25px;
}

.admin.clean section:last-of-type {
  margin-bottom: 0;
}

.admin.clean section h3 {
  font: normal 1.8rem "Open Sans Light", "OpenSansLight";
  color: #8B242A;
  position: relative;
  left: -25px;
  margin-bottom: 10px;
}

.admin.clean .field {
  margin-bottom: 3px;
}

.admin.clean .field.indented {
  margin-left: 25px;
}

.admin.clean .field.indented label {
  width: 250px;
}

.admin.clean span,
.admin.clean .field label {
  display: inline-block;
  width: 275px;
  font: normal 1.4rem "Open Sans Light", "OpenSansLight";
  color: #555555;
}

.admin.clean .field h4 {
  display: inline-block;
  max-width: 275px;
  font: bold 1.4rem "Open Sans Light";
  color: #333333;
}

.admin.clean h4 a,
.admin.clean .field a {
  display: inline-block;
  vertical-align: top;
  font: normal 1rem "Open Sans Light", "OpenSansLight";
  color: #005BC2;
  text-transform: uppercase;
  margin: 3px 0 0 10px;
}

.admin.clean .field a[data-behavior="cancel"] {
  margin-top: 8px;
}

.admin.clean .field.radio a[data-behavior="cancel"] {
  margin-top: 3px;
}

.admin.clean .job {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dotted #cccccc;
}

.admin.clean .job:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.admin.clean .job > h4 {
  font: normal 1.4rem "Open Sans Light", "OpenSansLight";
  color: #555555;
  margin-bottom: 10px;
}

.admin.clean .job .field {
  padding-left: 15px;
}

.admin.clean .job label {
  width: 260px;
}

.admin.clean .editable {
  display: inline-block;
  min-width: 150px;
}

.admin.clean .editable input[type="text"],
.admin.clean .editable select,
.admin.clean .editable textarea {
  width: 200px;
  font: normal 1.4rem "Open Sans Light", "OpenSansLight";
  color: #333333;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #aaaaaa;
  outline: none;
  margin: 0;
  -webkit-transition: box-shadow 250ms ease;
  -moz-transition: box-shadow 250ms ease;
  -o-transition: box-shadow 250ms ease;
  -ms-transition: box-shadow 250ms ease;
  transition: box-shadow 250ms ease;
}

.admin.clean .editable input[type="text"]:focus,
.admin.clean .editable select:focus,
.admin.clean .editable textarea:focus {
  box-shadow: 0 0 3px #30FC0D;
}

.admin.clean .editable select {
  width: 212px;
}

.admin.clean .editable textarea {
  resize: none;
}

.admin.clean .editable label {
  width: auto;
}

.admin.clean .editable select.auto,
.admin.clean .editable span {
  width: auto;
}

.admin.clean .button {
  margin: 40px 0 0 335px;
}