html {
  font-size: 62.5%;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.hidden {
  display: none;
}

p.error {
  font: normal 1.5rem/1 "Open Sans Light", "OpenSansLight";
  color: #AA151E;
}