html {
  font-size: 62.5%;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.hidden {
  display: none !important;
}

.notification {
  position: absolute;
  top: -50px;
  left: 50%;
  z-index: 1;
  font: normal 1.5rem "Open Sans Light", "OpenSansLight";
  padding: 7px 15px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: top 500ms ease;
  -moz-transition: top 500ms ease;
  -o-transition: top 500ms ease;
  -ms-transition: top 500ms ease;
  transition: top 500ms ease;
}

.notification.shown {
  top: 10px;
}

.notification.alert {
  color: #ffffff;
  border: 1px solid #A72B33;
  background-color: #CC3841;
}

.notification.notice {
  color: #ffffff;
  border: 1px solid #26681B;
  background-color: #308023;
}

#sign-in, 
#sign-out {
  position: absolute;
  top: 20px;
  right: 30px;
  font: normal 1.4rem "Open Sans Light", "OpenSansLight";
  color: #26681B;
  text-decoration: none;
}

#sign-in:hover,
#sign-in:focus,
#sign-out:hover, 
#sign-out:focus {
  color: #308023;
}