.wrapper {
  padding: 50px 0;
}

#cleaning-disabled {
  width: 500px;
  font: normal 2.4rem/6rem "Open Sans Light", "OpenSansLight";
  color: #8B242A;
  text-align: center;
  border: 1px solid #8B242A;
  border-radius: 3px;
  margin-top: 65px;
}

.button {
  font: normal 1.5rem "Open Sans Light", "OpenSansLight";
  color: #ffffff;
  background-color: #308422;
  margin: 0;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 2px;
  outline: none;
  -webkit-transition: background-color 300ms ease;
  -moz-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
  -ms-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}

.button:hover, 
.button:focus {
  background-color: #399B28;
}

aside {
  float: left;
  width: 250px;
  padding: 15px;
  margin-top: 43px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

aside ul {
  list-style: none;
}

aside li a {
  display: block;
  font: normal 1.5rem "Open Sans Light", "OpenSansLight";
  color: #333333;
  text-decoration: none;
  padding: 10px 0 10px 25px;
  position: relative;
}

aside li a:hover,
aside li a:focus,
aside li a.current {
  color: #399B28;
}

aside li a.current:before {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #399B28;
}

.content {
  float: right;
  width: 700px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.content h1 {
  font: normal 2.4rem "Open Sans Light", "OpenSansLight";
  color: #8B242A;
  margin-bottom: 5px;
}

.content p {
  font: italic normal 1.5rem/1 "Open Sans Light", "OpenSansLight";
  color: #777777;
  margin-bottom: 20px;
}

.content section label {
  margin-right: 5%;
}

.filter {
  text-align: right;
  margin-bottom: 20px;
}

.filter select {
  font: normal 1.4rem "Open Sans Light", "OpenSansLight";
  color: #333333;
  border-radius: 3px;
  border: 1px solid #aaaaaa;
  outline: none;
  padding: 3px;
  margin: 0;
  -webkit-transition: box-shadow 250ms ease;
  -moz-transition: box-shadow 250ms ease;
  -o-transition: box-shadow 250ms ease;
  -ms-transition: box-shadow 250ms ease;
  transition: box-shadow 250ms ease;
}

.filter select:focus {
  box-shadow: 0 0 3px #30FC0D;
}

.filter input[type="submit"] {
  display: inline-block;
  vertical-align: top;
  font: normal 1.2rem/2.6rem "Open Sans Light", "OpenSansLight";
  color: #ffffff;
  text-transform: uppercase;
  background-color: #469431;
  border: 1px solid #32881A;
  border-radius: 3px;
  padding: 0 8px;
  margin: 0;
  cursor: pointer;
}

.filter input[type="submit"]:hover,
.filter input[type="submit"]:focus {
  background-color: #32881A;
}

.list li {
  position: relative;
}

.list li:nth-of-type(even) {
  background-color: #f5f5f5;
}

.list li > a {
  display: block;
  font: normal 1.6rem/3.2rem "Open Sans Light", "OpenSansLight";
  color: #333333;
  text-decoration: none;
  padding: 0 10px;
}

.list li:hover > a,
.list li > a:hover,
.list li > a:focus {
  color: #ffffff;
  background-color: #399B28;
}

.list li:hover .actions {
  background-color: #A2C99C;
}

.list li > a.cleaned:after {
  content: "[cleaned]";
  font: normal 1.2rem "Open Sans Light", "OpenSansLight";
  color: #399B28;
  text-transform: uppercase;
  margin-left: 10px;
}

.list li:hover > a.cleaned:after,
.list li > a.cleaned:focus:after {
  color: #ffffff;
}

.list li .actions {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
}

.list li .actions a {
  display: inline-block;
  font: normal 1rem/2rem "Open Sans Light", "OpenSansLight";
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #DB485C;
  border: 1px solid #D22940;
  border-radius: 3px;
  padding: 0 5px;
}

.list li .actions a:hover,
.list li .actions a:focus {
  background-color: #D22940;
}

.enumerator.clean h1 {
  display: inline-block;
  margin-bottom: 40px;
}

.enumerator.clean .clean-actions {
  display: inline-block;
  position: relative;
  top: -3px;
  left: 25px;
}

.enumerator.clean .clean-actions a.navigation {
  display: inline-block;
  font: normal 1.1rem/2rem "Open Sans Light", "OpenSansLight";
  color: #26681B;
  text-transform: uppercase;
  margin-left: 25px;
  padding-top: 1px;
}

.enumerator.clean .clean-actions a.navigation:hover,
.enumerator.clean .clean-actions a.navigation:focus {
  color: #ffffff;
  background-color: #26681B;
  border-color: #26681B;
}

.enumerator.clean .clean-actions a.navigation:last-of-type {
  margin-left: 0;
}

.enumerator.clean section input[type="button"],
.enumerator.clean .clean-actions a {
  display: inline-block;
  font: normal 1.3rem/2.4rem "Open Sans Light", "OpenSansLight";
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 7px;
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
}

.enumerator.clean section input[type="button"],
.enumerator.clean .clean-actions a.green {
  background-color: #469431;
  border-color: #32881A;
}

.enumerator.clean section input[type="button"]:hover,
.enumerator.clean section input[type="button"]:focus,
.enumerator.clean .clean-actions a.green:hover,
.enumerator.clean .clean-actions a.green:focus {
  background-color: #32881A;
}

.enumerator.clean .clean-actions a.red {
  background-color: #DB485C;
  border-color: #D22940;
}

.enumerator.clean .clean-actions a.red:hover,
.enumerator.clean .clean-actions a.red:focus {
  background-color: #D22940;
}

.enumerator.clean section {
  padding-left: 25px;
  margin-bottom: 25px;
}

.enumerator.clean section:last-of-type {
  margin-bottom: 0;
}

.enumerator.clean section h3 {
  display: block;
  font: normal 1.8rem "Open Sans Light", "OpenSansLight";
  color: #8B242A;
  position: relative;
  left: -25px;
  margin-bottom: 10px;
}

.enumerator.clean section input[type="button"] {
  margin-bottom: 10px;
  outline: none;
}

.enumerator.clean .field {
  margin-bottom: 3px;
}

.enumerator.clean .field.indented {
  margin-left: 25px;
}

.enumerator.clean .field.indented label {
  width: 250px;
}

.enumerator.clean span,
.enumerator.clean .field label,
.enumerator.settings .field label {
  display: inline-block;
  vertical-align: top;
  width: 275px;
  font: normal 1.4rem "Open Sans Light", "OpenSansLight";
  color: #555555;
}

.enumerator.clean .field h4 {
  display: inline-block;
  max-width: 275px;
  font: bold 1.4rem "Open Sans Light", "OpenSansLight";
  color: #333333;
}

.enumerator.clean h4 a,
.enumerator.clean .field a {
  display: inline-block;
  vertical-align: top;
  font: normal 1rem "Open Sans Light", "OpenSansLight";
  color: #005BC2;
  text-transform: uppercase;
  margin: 3px 0 0 10px;
}

.enumerator.clean .field a[data-behavior="cancel"] {
  margin-top: 8px;
}

.enumerator.clean .field.radio a[data-behavior="cancel"] {
  margin-top: 3px;
}

.enumerator.clean .educational-history-list .educational-history {
  padding: 0 0 15px 15px;
  margin-bottom: 15px;
  border-bottom: 1px dotted #cccccc;
}

.enumerator.clean .educational-history-list .educational-history:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.enumerator.clean .educational-history a {
  display: inline-block;
  vertical-align: top;
  font: normal 1rem "Open Sans Light", "OpenSansLight";
  color: #005BC2;
  text-transform: uppercase;
  margin: 0;
}

.enumerator.clean .educational-history .field a {
  margin: 3px 0 0 10px;
}

.enumerator.clean .educational-history .field label {
  width: 260px;
}

.enumerator.clean .job {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dotted #cccccc;
}

.enumerator.clean .job:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.enumerator.clean .job-form {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dotted #cccccc;
}

.enumerator.clean .job-form > h4,
.enumerator.clean .job > h4 {
  font: normal 1.4rem "Open Sans Light", "OpenSansLight";
  color: #555555;
  margin-bottom: 10px;
}

.enumerator.clean .job-form .field,
.enumerator.clean .job .field {
  padding-left: 15px;
}

.enumerator.clean .job-form .field.unindented {
  padding-left: 0;
  margin-bottom: 10px;
}

.enumerator.clean .job-form label,
.enumerator.clean .job label {
  width: 260px;
}

.enumerator.clean .job-form .field.unindented label {
  width: 275px;
}

.enumerator.clean .job-form .field label {
  margin-top: 6px;
}

.enumerator.clean .editable {
  display: inline-block;
  max-width: 300px;
}

.enumerator.clean .job-form .field input[type="text"],
.enumerator.clean .job-form .field select,
.enumerator.clean .job-form .field textarea,
.enumerator.clean .editable input[type="text"],
.enumerator.clean .editable select,
.enumerator.clean .editable textarea,
.enumerator.clean .educational-history input[type="text"],
.enumerator.clean .educational-history select,
.enumerator.settings input[type="text"],
.enumerator.settings input[type="password"] {
  width: 200px;
  font: normal 1.4rem "Open Sans Light", "OpenSansLight";
  color: #333333;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #aaaaaa;
  outline: none;
  margin: 0;
  -webkit-transition: box-shadow 250ms ease;
  -moz-transition: box-shadow 250ms ease;
  -o-transition: box-shadow 250ms ease;
  -ms-transition: box-shadow 250ms ease;
  transition: box-shadow 250ms ease;
}

.enumerator.clean .job-form .field input[type="text"]:focus,
.enumerator.clean .job-form .field select:focus,
.enumerator.clean .job-form .field textarea:focus,
.enumerator.clean .editable input[type="text"]:focus,
.enumerator.clean .editable select:focus,
.enumerator.clean .editable textarea:focus,
.enumerator.clean .educational-history input[type="text"]:focus,
.enumerator.clean .educational-history select:focus,
.enumerator.settings input[type="text"]:focus,
.enumerator.settings input[type="password"]:focus {
  box-shadow: 0 0 3px #30FC0D;
}

.enumerator.clean .job-form .field select,
.enumerator.clean .editable select,
.enumerator.clean .educational-history select {
  width: 212px;
}

.enumerator.clean .job-form .field textarea,
.enumerator.clean .editable textarea {
  resize: none;
}

.enumerator.clean .job-form .field.unindented input + label,
.enumerator.clean .job-form input[type="radio"] + label,
.enumerator.clean .job-form input[type="checkbox"] + label,
.enumerator.clean .editable label {
  width: auto;
}

.enumerator.clean .job-form .field.inline label {
  margin-top: 0;
}

.enumerator.clean .job-form .field select.auto,
.enumerator.clean .job-form .field span,
.enumerator.clean .editable select.auto,
.enumerator.clean .editable span {
  width: auto;
}

.enumerator.clean .field[data-field="employment-duration"] select,
.enumerator.clean .job-form .field[data-field="employment-duration"] select {
  width: 104px !important;
  margin-right: 1px;
}

.enumerator.clean .job-form .field[data-field="employment-duration"] select:nth-of-type(3) {
  margin-left: 296px;
}

.enumerator.clean .field[data-field="employment-duration"] span {
  display: block;
  text-align: center;
}

.enumerator.clean .job-form .field[data-field="employment-duration"] span {
  margin-left: 144px;
}

.enumerator.clean .button {
  margin: 40px 0 0 335px;
}

.enumerator.settings .content p {
  margin-bottom: 40px;
}

.enumerator.settings .field {
  margin-bottom: 5px;
}

.enumerator.settings .field label {
  vertical-align: middle;
}

.enumerator.settings input[type="text"],
.enumerator.settings input[type="password"] {
  width: 270px;
}

.enumerator.settings .button {
  margin: 20px 0 0 278px;
}