.pages {
  text-align: center;
  padding-top: 1px;
}

h1, 
#site-logo {
  display: block;
  font: normal 8rem "Alegreya", "AlegreyaRegular";
  color: #555555;
  text-transform: lowercase;
  text-decoration: none;
  margin-top: 170px;
}

p {
  width: 600px;
  font: normal 1.5rem "Open Sans Light", "OpenSansLight";
  color: #777777;
  margin: 15px auto 0 auto;
}

.button {
  display: inline-block;
  font: normal 1.8rem "Open Sans Light", "OpenSansLight";
  color: #ffffff;
  text-decoration: none;
  padding: 10px 25px;
  background-color: #308422;
  border-radius: 3px;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 300ms ease;
  -moz-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
  -ms-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}

.button:hover, 
.button:focus {
  background-color: #399B28;
}

.pages.index .button,
.pages.saved .button {
  margin-top: 15px;
}

.pages.login #site-logo {
  font-size: 6rem;
  line-height: 1;
  margin-bottom: 20px;
}

.pages.login .error,
.pages.retrieve_password .error {
  margin-bottom: 20px;
}

.pages.login .field label,
.pages.retrieve_password .field label {
  display: inline-block;
  width: 90px;
  font: normal 1.5rem "Open Sans Light", "OpenSansLight";
  color: #777777;
  text-align: left;
  text-transform: lowercase;
}

.pages.login input[type="text"], 
.pages.login input[type="password"],
.pages.retrieve_password input[type="email"] {
  width: 220px;
  font: normal 1.5rem "Open Sans Light", "OpenSansLight";
  padding: 6px;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  outline: none;
}

.pages.login input[type="text"]:focus, 
.pages.login input[type="password"]:focus,
.pages.retrieve_password input[type="email"]:focus {
  box-shadow: 0 0 3px #30FC0D;
}

.pages.login .field.actions a,
.pages.retrieve_password .field.actions a {
  display: block;
  font: normal 1.4rem "Open Sans Light", "OpenSansLight";
  color: #26681B;
  text-decoration: none;
  margin-left: 15px;
}

.pages.login .field.actions a:hover,
.pages.login .field.actions a:focus,
.pages.retrieve_password .field.actions a:hover,
.pages.retrieve_password .field.actions a:focus {
  color: #308023;
}

.pages.login .button {
  padding: 4px 15px;
  margin-left: 256px;
}

.pages.login p.error,
.pages.retrieve_password p.error {
  font: normal 1.5rem/1 "Open Sans Light", "OpenSansLight";
  color: #AA151E;
}

.pages.retrieve_password #site-logo {
  font-size: 6rem;
  line-height: 1;
}

.pages.retrieve_password p {
  width: 350px;
  font: normal 1.5rem "Open Sans Light", "OpenSansLight";
  color: #777777;
  margin: 10px auto 20px auto;
}

.pages.retrieve_password .button {
  padding: 4px 15px;
  margin-left: 240px;
}