.pages {
  text-align: center;
}

h1 {
  font: normal 8rem "Alegreya", "AlegreyaRegular";
  color: #555555;
  text-transform: lowercase;
  margin-top: 170px;
}

p {
  width: 600px;
  font: normal 1.5rem "Open Sans Light", "OpenSansLight";
  color: #777777;
  margin: 15px auto 0 auto;
}

.button {
  display: inline-block;
  font: normal 1.8rem "Open Sans Light", "OpenSansLight";
  color: #ffffff;
  text-decoration: none;
  padding: 10px 25px;
  background-color: #308422;
  border-radius: 3px;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 300ms ease;
  -moz-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
  -ms-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}

.button:hover, 
.button:focus {
  background-color: #399B28;
}

.pages.index .button,
.pages.saved .button {
  margin-top: 15px;
}

.pages.login h1 {
  font-size: 5.5rem;
  line-height: 1;
  margin-bottom: 20px;
}

.pages.login .error {
  margin-bottom: 20px;
}

.pages.login .field label {
  display: inline-block;
  width: 90px;
  font: normal 1.5rem "Open Sans Light";
  color: #777777;
  text-align: left;
  text-transform: lowercase;
}

.pages.login input[type="text"], 
.pages.login input[type="password"] {
  width: 220px;
  font: normal 1.5rem "Open Sans Light";
  padding: 6px;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  outline: none;
}

.pages.login input[type="text"]:focus, 
.pages.login input[type="password"]:focus {
  box-shadow: 0 0 3px #30FC0D;
}

.pages.login .button {
  padding: 4px 15px;
  margin-left: 256px;
}