.content {
  padding-bottom: 50px;
}

h1 {
  font: normal 2rem "Open Sans Light", "OpenSansLight";
  color: #8B242A;
  margin-bottom: 15px;
}

#main-header {
  padding: 50px 0;
}

#main-header h1 {
  display: inline-block;
  font: normal 4.5rem/1 "Alegreya", "AlegreyaRegular";
  color: #555555;
  text-transform: lowercase;
  margin-bottom: 0;
}

#main-header h1 span {
  display: block;
  font: normal 2rem/1 "Open Sans Light", "OpenSansLight";
  text-align: right;
  margin-top: -5px;
}

nav {
  position: absolute;
  top: 20px;
  right: 30px;
}

nav a {
  font: normal 1.4rem "Open Sans Light", "OpenSansLight";
  color: #26681B;
  text-decoration: none;
  margin-left: 15px;
}

nav a:hover,
nav a:focus {
  color: #308023;
}

ul {
  display: inline-block;
}

ul li {
  display: inline-block;
  width: 270px;
  margin-right: 100px;
}

ul a {
  display: block;
  font: normal 1.6rem "Open Sans Light", "OpenSansLight";
  color: #555555;
  text-decoration: none;
  padding: 7px 15px;
  border-radius: 3px;
}

ul a:hover,
ul a:focus {
  color: #ffffff;
  background-color: #399B28;
}

header h1 {
  display: inline-block;
}

header a {
  display: inline-block;
  font: normal 1.3rem "Open Sans Light", "OpenSansLight";
  color: #26681B;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 0 0 25px;
}

header a:hover,
header a:focus {
  color: #308023;
  text-decoration: underline;
}

header input[type="button"] {
  /*display: none;*/
  float: right;
  font: normal 1.3rem/2.4rem "Open Sans Light", "OpenSansLight";
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 7px;
  border: 1px solid #32881A;
  border-radius: 3px;
  cursor: pointer;
  background-color: #469431;
}

header input[type="button"]:hover,
header input[type="button"]:focus {
  background-color: #32881A;
}

.statistical-presentation {
  margin-top: 25px;
}

.statistical-chart, 
.statistical-table {
  float: left;
  width: 500px;
  max-height: 450px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.statistical-presentation h1 {
  font-size: 1.8rem;
  margin: 0 0 5px 25px;
}

.statistical-presentation b {
  font-weight: bold;
}