h1 {
  font: normal 2rem "Open Sans Light", "OpenSansLight";
  color: #8B242A;
  margin-bottom: 15px;
}

header {
  padding: 50px 0;
}

header h1 {
  display: inline-block;
  font: normal 4.5rem/1 "Alegreya", "AlegreyaRegular";
  color: #555555;
  text-transform: lowercase;
  margin-bottom: 0;
}

header h1 span {
  display: block;
  font: normal 2rem/1 "Open Sans Light", "OpenSansLight";
  text-align: right;
  margin-top: -5px;
}

nav {
  position: absolute;
  top: 20px;
  right: 30px;
}

nav a {
  font: normal 1.4rem "Open Sans Light", "OpenSansLight";
  color: #26681B;
  text-decoration: none;
  margin-left: 15px;
}

ul {
  display: inline-block;
}

ul a {
  display: block;
  font: normal 1.6rem "Open Sans Light", "OpenSansLight";
  color: #555555;
  text-decoration: none;
  padding: 7px 15px;
  border-radius: 3px;
}

ul a:hover,
ul a:focus {
  color: #ffffff;
  background-color: #399B28;
}